header {
    color: #f9faf8;
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

main{
    color: #f9faf8;
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: auto;
    flex-shrink: 0;
}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

